* {
    margin: 0;
    padding: 0;

}

header{
    background-color: rgba(182, 138, 78, 0.856);
}
.projetos {
    background-image:linear-gradient(#dab974e1, #cfa557e3);
    color:rgba(218, 152, 77, 0.774);
    font-size: 21px;
    display:flex;
    justify-content: center;
    padding: 24px;

}

.projetos-título {
    padding: 30px;
       
}

.projeto-imagem-alunos {
    width:20%;
    height:20%;
    border-radius: 50px;
}